<h1>Acerca de (About)</h1>
<p>
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	es un proyecto para hacer un libro para ensenar con screencasts de desarrollo web
	<a href="http://rubyonrails.org/">Ruby on Rails</a>.
	Esta es la aplicacion de ejemplo para el tutorial.
</p>

